@import url("https://fonts.googleapis.com/css?family=Kanit:300,400");

* {
    box-sizing: border-box;
    font-family: Kanit;
    color: black;
}

html {
    background-color: rgb(212, 197, 255);
}

.top ul {
    margin: 0;
    background-color: rgb(125, 149, 201);
}

.title {
    text-align: left;
}

.top li {
    display: inline;
    padding: 0 5%;
}

.top a {
    display: inline-block;
    padding: 0.5em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Gravitas One, cursive;
}

.top {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

top a:hover {
    background-color: rgb(83, 106, 181);
    margin: 0;
}

.main-header {
    background-color: rgb(170, 170, 170);
    background-size: cover;
    padding-bottom: 30px;
}
    