.links {
    text-align: center;
}
.links li {
    list-style-type: none;
    padding-right: 3em;
    padding-left: 3em;
    display: inline;
}
.links a {
    text-decoration: none;
}
.links a:hover {
    opacity: 1;
}